.w3-row-padding
  %p
    %strong
      Things To Do in Avon and Beaver Creek
    
  %p.text
    Came in early and feeling restless? Here are our recommendations for places to go and places to eat in and around the Vail Valley.

  %p
    Hiking and Outdoor Activities
  %p.text
    %strong Mt. Sherman and Mt. Sheridan (Leadville) - 
    This 14er/13er pair is beautiful whether approached from the west or the east. Plenty of fun to be had on the lower slopes if you're not planning on summiting.
    %br
    %strong Beaver Creek ski resort - 
    Before the snow settles in, Beaver Creek is crisscrossed with hiking trails.
    %br
    %strong Hanging Lake - 
    The most popular place to visit in Glenwood Canyon!
    
  %p
    Restaurants
  %p.text
    %strong The George (Vail) - 
    favorite dive bar of ski bums, very cheap drinks during happy hour
    %br
    %strong Route 6 Cafe (Avon) - 
    Tasty food with dancing and live music. Staff likes to play Talking Heads.
    %br
    %strong Northside Kitchen (Avon) - 
    Delightful breakfasts and enormous burgers. Also, we plan on buying their donuts every morning.
    %br
    %strong Mango's Mountain Grill (Red Cliff) - 
    Amazing fish tacos wait for you after a beautiful
    %br
    %strong The Minturn Saloon (Minturn) - 
    Relaxed atmosphere in the cutest town in the Vail Valley.
  %p
    Shopping
  %p.text
    %strong Dillon Outlets

    %br
    %strong Vail Village
    
  %p
    Scenic Drives
  %p.text
    %strong Red Cliff and Leadville - 
    Take exit 171 off I-70 to get on highway 24 going south. Follow the Eagle River to Red Cliff, our favorite mountain town, and if you have the stamina all the way into Leadville.
    %br
    %strong Glenwood Canyon -
    Take I-70 west out of Avon and you'll pass through Glen Canyon on your way to Glenwood Springs. Alternate who drives so the passenger can enjoy the amazing geology of the canyon cut out by the Colorado River.

