.w3-row-padding
  .w3-col.l6
    %p
      %strong
        Ceremony Details
    %p.text
      The ceremony will be held at the Camp Hale East Fork Group Campground on October 5th, 2018 at 4:00 PM. Please plan for a forty-five minute drive to and from the Avon town center. There is a vault toilet at the ceremony site. Be prepared for inclement weather - bring a jacket, and have extra water and sturdy shoes in your car. We look forward to seeing you there!
  .w3-col.l6.w3-center
    %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8778.905647092433!2d-106.29964440837776!3d39.41986401004891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876a891845d06615%3A0xb7ecfe92e7bd420!2sCamp+Hale+East+Fork+Campground%2C+White+River+National+Forest%2C+Forest+Rd+7261A%2C+Leadville%2C+CO+80461!5e0!3m2!1sen!2sus!4v1515264470558", width: "400", height: "300", frameborder: "0", style: 'border: 0;', allowfullscreen: true}

