.w3-row-padding
  %p
    %strong
      Frequently Asked Questions
      
  %p
    What will we do if the weather is bad?
  %p.text
    Early October in Colorado is statistically clear and pleasant. In the event of inclement weather, the ceremony will still be held outdoors. You may want an umbrella, a raincoat, or a heavy jacket to prepare for this possibility. The reception will take place both indoors and under a tent outdoors. Do plan to bring a sweater or light coat, as the evenings can get chilly. Alternately, you can just plan to dance a a lot, which will raise your core temperature quite a bit. 

  %p
    What sort of ceremony should we expect?
  %p.text
    We have created a special ceremony specific to our relationship. It will last about fifteen minutes - there will be a small procession with music, two short readings, and an exchanging of vows and rings. Since one of the most important components of our day is you, our wonderful friends and family, we will stand in the middle of a circle, literally surrounded by all the people we love. The ceremony will also include a "ring-warming" where our wedding bands are passed around the circle as each of our guests hold the rings briefly. In order to help everyone feel comfortable, there will be some chairs for people who are unable to stand for the duration of the wedding. Please let us know if you have specific needs so we can do our best to help you out. 
    
  %p
    Why did I get a "plus one" on my invitation if I'm not seeing anyone?
  %p.text
    We want everyone to be comfortable and have a great time! If that means bringing a friend to make sure you travel safely and have someone to dance with at the reception, then we think you should bring a friend! If you don't want to bring someone, that's perfectly alright, too.

  %p
    How are we going to get so many cars into a campsite?
  %p.text
    We plan to arrange a carpool page closer to date of the wedding so everyone can decide who they would like to drive with!

  %p
    How do I get from Denver International Airport to the Vail Valley?
  %p.text
    You can use the
    %a{class: 'extlink', href: 'https://www.coloradomountainexpress.com/'} Colorado Mountain Express
    shuttle service, which will pick you up directly from the airport and take you where you want to go. You can view their website and schedule a ride here. You can also rent a car from one of the car rental agencies located at Denver International Airport. You can find a list of all of your options
    %a{class: 'extlink', href: 'https://www.flydenver.com/parking_transit/car-rentals'} here.
      
  %p
    Do I need to RSVP here or with the card attached to my invitation?
  %p.text
    Either one works! We wanted to give you the flexbility to pick the method you prefer.

  %p
    What do I do if I want to submit more than one song request?
  %p.text
    You can submit as many song requests as you like! Just don't fill out an RSVP form every time you submit a song request.

  %p
    I haven't gotten my invitation yet and I'm panicking OR I'm panicking because my invitation says "RSVP by the 5th of August" and that is really early!
  %p.text
    This isn't a question, but don't worry. We sent out invitations the last week of July to the addresses you provided in the save-the-date email. If you haven't gotten your invite, we will figure it out together! As far as the RSVP date goes, Kate hecked up on those. We need those RSVPs by SEPTEMBER 5th, which should give you plenty of time to make a decision.  

  %p
    What should I wear?
  %p.text
    The event is semi-formal (read: we got Kate to put on make-up and a wedding dress), so cocktail attire is perfect! Since both the ceremony and the reception will be outside, we recommend shoes suited towards uneven ground and grass. Additionally, bring a jacket or sweater in case you get a little cold.  We know you guys are a classy bunch and are certain you will all look wonderful.

  %p
    Can I bring my pets?
  %p.text
    We are bringing our dog, mostly because traditional human ringbearers do not run as well as Marnie does. In order to minimize chaos, however, we ask that you leave your furbabies safe at home.

  %p
    Do I need to bring a gift?
  %p.text
    We understand that many people are taking time off work, travelling from out of state, and driving up to the mountains to be with us. Your presence on our wedding day is more than enough. If you really really want to buy us something, you can find our registries
    %a{class: 'extlink', href: '/registry'} here.


