.w3-row-padding
  %p
    What will we do if the weather is bad?
  %p.text
    Early October in Colorado is statistically clear and pleasant. In the event of precipitation, the ceremony will still be held outdoors. You may want an umbrella or a raincoat to prepare for this possibility. The reception will take place both indoors and under a tent outdoors. Do plan to bring a sweater or light coat, as the evenings can get chilly. Alternately, you can just plan to dance a a lot, which will raise your core temperature quite a bit. 

  %p
    Why did I get a "plus one" on my invitation if I'm not seeing anyone?
  %p.text
    We want everyone to be comfortable and have a great time! If that means bringing a friend to make sure you travel safely and have someone to dance with at the reception, then we think you should bring a friend! If you don't want to bring someone, that's perfectly alright, too.

  %p
    How are we going to get so many cars into a campsite?
  %p.text
    The campsite fits up to 20 cars. Once we know who is coming, we will arrange a carpool page so that people can coordinate who they would like to drive with.

  %p
    What about the rehearsal dinner?
  %p.text
    We're still working out details - by the time we send out official invitations, we will have more information.


  %p
    Do I need to RSVP here or with the card attached to my invitation?
  %p.text
    Either one works! We wanted to give you the flexbility to pick the method you prefer.

  %p
    What do I do if I want to submit more than one song request?
  %p.text
    You can submit as many song requests as you like! Just don't fill out an RSVP form every time you submit a song request.

  %p
    I haven't gotten my invitation yet and I'm panicking.
  %p.text
    This isn't a question, but don't worry. We will be sending out invitations 3-4 months in advance. We will also update the website with more information as we figure this whole thing out!

  %p
    What should I wear?
  %p.text
    The event is semi-formal (read: we got Kate to put on make-up and a wedding dress), so cocktail attire is perfect! Since both the ceremony and the event will be outside, we recommend shoes suited towards uneven ground and grass. We know you guys are a classy bunch and are certain you will all look wonderful.

  %p
    Can I bring my pets?
  %p.text
    We are bringing our dog, mostly because traditional human ringbearers do not run as well as Marnie does. In order to minimize chaos, however, we ask that you leave your furbabies safe at home.

  %p
    Do I need to bring a gift?
  %p.text
    We understand that many people are taking time off work, travelling from out of state, and driving up to the mountains to be with us. Your presence on our wedding day is more than enough. If you really really want to buy us something, you can find our registries
    %a{href: '/registry'} here.


