.w3-container.w3-center.landing
  .w3-row
    %strong.landing-large
      Kate Tara
    and
    %strong.landing-large
      Matthew Haney
  .w3-row
    Were Married
  .w3-row
    On October 5, 2018
  .w3-row
    Avon, Colorado
  .w3-row
    %a{href: "https://drive.google.com/drive/folders/1hCEH8eUva-eyvMYgn2VHkShvmY5A9JJl"} Photos now available!
