.w3-container.w3-center.landing
  .w3-row
    Save the date!
  .w3-row
    %strong.landing-large
      Kate Tara
    and
    %strong.landing-large
      Matthew Haney
  .w3-row
    Will be getting married
  .w3-row
    On October 5, 2018
  .w3-row
    Avon, Colorado
