.w3-row-padding
  %p
    %strong
      Lodging Details

  %p.text
    Since nearly everyone is coming from out of town, we decided to pick some hotel options and get a nice deal on them. Now that you know you’ll be getting a good deal on a hotel, you can go ahead and buy those navy blue patent leather Jimmy Choos you’ve had your eye on. 

  %p.text
    We arranged for discounted booking rates (20% off of the lowest available price at the time of booking) at two lodges in Beaver Creek from October 3rd to October 7th. In order to receive this discount, you’ll need to call the booking number (877)-820-7669 and either reference the Tara/Haney Wedding or our fancy wedding code, GJ4THW. You only need to stay for two consecutive nights in order to receive the discount, but we wanted to give everyone the option of turning the wedding weekend into a vacation. 

  %p.text
    We picked
    %strong
      %a{href: 'http://pineslodge.rockresorts.com'} The Pines Lodge
    because it is super dog friendly and very lovely. This is where Matthew and Kate will be staying. Since we are very famous for the weekend, it is understandable if you want to sleep in the same place we will be sleeping. 

  %p.text
    We also selected
    %strong
      %a{href: 'http://www.beavercreekresortproperties.com/villages/beaver-creek-village/elkhorn-lodge-beaver-creek/'} The Elkhorn Lodge
    in order to offer a condo-style option for people looking to save a little money and crash with friends. This is also a great option for those of you coming with family. 

  %p.text
    Beaver Creek does have some nit-picky things, like a $20/night resort fee and one night’s payment required at booking, that we want you to know about. We hope, however, that this won’t discourage you from reserving a room and relaxing with us. 

