.w3-row-padding
  .w3-col.l6
    %p
      Reception Details
    %p.text
      The reception will be held at the home of Kate's father. Drinks will be served starting at 5:30pm, and a barbecue dinner will follow. Please let us know when you RSVP if you have any dietary restrictions, which we will be happy to honor. Don't forget your dancing shoes and a sweater - it might get chilly in the evening. Song requests for the reception can be made on the RSVP page.
  .w3-col.l6.w3-center
    %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10397.895705454881!2d-106.55230987808362!3d39.660284884557065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8741d8978b70d0e7%3A0xbef4de3f953b2323!2s4057+Wildridge+Rd%2C+Edwards%2C+CO+81632!5e0!3m2!1sen!2sus!4v1515268361528", width: "400", height: "300", frameborder: "0", style: 'border: 0;', allowfullscreen: true}
