.w3-row-padding
  .w3-col.l6
    %p
      %strong
        Reception Details
    %p.text
      The reception will be held at the home of Kate's father. Drinks will be served starting at 5:30pm, and a barbecue dinner will follow. Please let us know when you RSVP if you have any dietary restrictions, which we will be happy to honor. Don't forget your dancing shoes and a sweater - it might get chilly in the evening. Song requests for the reception can be made on the RSVP page.
  .w3-col.l6.w3-center
    %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.531767761693!2d-106.54993204915479!3d39.66025110912066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8741d8979ea7cd65%3A0x7865d8fb31372cdc!2s4057+Wildridge+Rd+W%2C+Edwards%2C+CO+81632!5e0!3m2!1sen!2sus!4v1517861706247", width: "400", height: "300", frameborder: "0", style: 'border: 0;', allowfullscreen: true}
