.w3-row
  %p
    Registries
  %p.text
    Thanks so much for visiting this page! We understand that many people are taking time off work, travelling from out of state, and driving up to the mountains to be with us. Your presence on our wedding day is more than enough. If you really want to buy us something, you can find our registry linked below.
.w3-row-padding.w3-center
  .w3-third
    %a.w3-block.w3-button{style: "background-color: rgb(255, 255, 255);"}
  .w3-third
    %a.w3-block.w3-button.rsvp-no{href: 'https://www.myregistry.com/wedding-registry/Kate-Tara-and-Matthew-Haney-Parker-CO/1488616'} MyRegistry
  .w3-third
    %a.w3-block.w3-button{style: "background-color: rgb(255, 255, 255);"}
