.w3-col.l6.w3-center
  .w3-container.w3-white.w3-center#rsvp-form
    %form{action: "rsvp", method: "post"}
      .w3-row.w3-padding-16
        RSVP using the form below.
      .w3-row
        .w3-half
          %label{for: "first"} First Name:
        .w3-half
          %input.rsvp-input{name: "first", type: "text"}
      .w3-row
        .w3-half
          %label{for: "last"} Last Name:
        .w3-half
          %input.rsvp-input{name: "last", type: "text"}
      .w3-row
        .w3-half
          %label{for: "diet"} Any dietary restrictions?
        .w3-half
          %input.rsvp-input{name: "diet", type: "text"}
      .w3-row
        .w3-half
          %label{for: "plus_one"} Will you be bringing a guest?
        .w3-half
          %select.rsvp-input{name: "plus_one"}
            %option No
            %option Yes
      .w3-row.w3-padding-16
        .w3-half
          %button.w3-block.w3-button.rsvp-yes{type: "submit", name: "RSVP", value: "Yes"} I'll Be There!
        .w3-half
          %button.w3-block.w3-button.rsvp-no{type: "submit", name: "RSVP", value: "No"} I Can't Make It
          
.w3-col.l6.w3-center#song-form
  .w3-container.w3-white.w3-center
  %form{action: "song-request", method: "post"}
    .w3-row.w3-padding-16.w3-center
      Have a song request for the reception? Tell us here!
    .w3-row
      .w3-half
        %label{for: "name"} Song Name:
      .w3-half
        %input.rsvp-input{name: "name", type: "text"}
    .w3-row
      .w3-half
        %label{for: "artist"} Artist:
      .w3-half
        %input.rsvp-input{name: "artist", type: "text"}
    .w3-row.w3-padding-16
      .w3-half#spacer
      .w3-half
        %button.w3-block.w3-button.rsvp-yes{type: "submit"} Submit
