body,h1,h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 24px;
}

body, html {
    height: 100%;
    background-color: 
}

p {
    line-height: 2
}

#header {
    position: relative;
    margin: 0;
    height: 200px;
    width: 100%;
}

#top-mountains {
    margin: 0 auto;
    height: 350px;
    width: 100%;
    background: url("mountains.jpg") no-repeat center center;
    background-size: cover;
    opacity: 1;
    z-index: 1;
}

#titlebar {
    position: absolute;
    width: 100%;
    top: 0px;
}

.title {
    opacity: 1;
    width: 100%;
    text-align: center;
    top: 10%;
    font-size: 48px;
    font-family: "Sacramento", cursive;
}

.small-title {
    opacity: 1;
    width: 100%;
    top: 10%;
    text-align: center;
    font-size: 24px;
    font-family: "Sacramento", cursive;
}

#subtitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    font-size: 36px;
    font-family: "Amatic SC", cursive;
}

#content {
    width: 80%;
    margin: 0 auto;
}

#footer {
    font-size: 18px;
}

#navbar {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.5);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#spacer {
    height: 10px;
}

.rsvp-no {
    background-color: rgb(237, 183, 169);
}

.rsvp-yes {
    background-color: rgb(163, 198, 232);
}

.rsvp-input {
    padding:0px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}

#marnie{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

p.text {
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
}
